* {
    box-sizing: border-box;
  }
  .mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
   
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */


  
/* Позиціонування кнопки "Наступне" справа */
.next {
    border-radius: 3px 0 0 3px;
}

/* Позиціонування кнопки "Попереднє" зліва */
.prev {
    border-radius: 0 3px 3px 0;
}

  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  /* Container for image text */
  .caption-container {
    max-width: 50%;
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    margin: 0 auto;
    margin-top: -40px; /* Змінив margin-top */
    position: relative; /* Зробити контейнер позиціонованим */

  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .row{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }